@page "/formventa"
@inject NavigationManager navigationManager
@inject VestaService vestaService
<h3>VentaForm</h3>
<button @onclick="Navegar" class=" btn btn-primary">Navegar a Formulario de venta</button>
@if (lista != null && lista.Count != 0)
{
    <table class="table table-success mt-3">
        <thead>
            <tr>
                <th>Numero de Empleado</th>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Fecha de Contrato</th>
                <th>Cuotas</th>
                <th>Ventas</th>
                <th>Nombre de Sucursal</th>
                <th>Nombre de Director</th>
                <th class="table-danger">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <td>@item.numeroEmpleado</td>
                    <td>@item.nombre</td>
                    <td>@item.cargo</td>
                    <td>@item.fechaContrato</td>
                    <td>@item.cuotas</td>
                    <td>@item.ventas</td>
                    <td>@item.nombreSucursal</td>
                    <td>@item.nombreDIrector</td>
                    <td class="table-danger">
                        <button class="btn btn-primary" @onclick="(() => recuperarVenta(item.numeroEmpleado))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                            </svg>
                        </button>
                        <button class="btn btn-danger" @onclick="(() => EliminarVenta(item.numeroEmpleado))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private void Navegar()
    {
        navigationManager.NavigateTo("/formulario");
    }
    public List<VentaList> lista { get; set; } = new List<VentaList>();
    protected override Task OnInitializedAsync()
    {
        listarVentas();

        return base.OnInitializedAsync();
    }
    private void recuperarVenta(int numEmp)
    {
        navigationManager.NavigateTo("/formventa/editar/" + numEmp);
    }
    private void EliminarVenta(int numEmp)
    {
        var ListaDelet = vestaService.eliminarVenta(numEmp);
        listarVentas();
    }
    private void listarVentas()
    {
        lista = vestaService.listarVentas();
    }


}
