@page "/ventas"
@inject NavigationManager navigationManager
<h3>PageVenta</h3>
<button @onclick="navegar" class="btn btn-success">Formulario de Registro</button>
@if(lista !=null && lista.Count != 0)
{
    <table class="table table-success">
        <thead>
            <tr>
                <th>Numero de Empleado</th>
                 <th>Nombre</th>
                <th>Edad</th>
                <th>Cargo</th>
                <th>Fecha de Contrato</th>
                <th>Cuota</th>
                <th>Venta</th>
                <th class="table-danger">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in lista)
            {
            <tr>
                    <td>@item.numeroEmpleado</td>
                    <td>@item.nombre</td>
                    <td>@item.edad</td>
                    <td>@item.cargo</td>
                    <td>@item.fechaContrato</td>
                    <td>@item.cuota</td>
                    <td>@item.venta</td>
                    <td class="table-danger">
                        <button @onclick="(() =>recuperarVenta(item.numeroEmpleado))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                    </button>
                        <button @onclick="(() => eliminarVenta(item.numeroEmpleado))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </button>
                    </td>
               
                 
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private void navegar()
    {
        navigationManager.NavigateTo("/formulario");
    }
    public List<VentaList> lista { get; set; } = new List<VentaList>();

    protected override Task OnInitializedAsync()
    {
        lista.Add(new VentaList { numeroEmpleado = 1, nombre = "Kevin Lopez", edad = 34, cargo = "vendedor", fechaContrato = DateTime.Today, cuota = 12.5, venta = 32 });
        lista.Add(new VentaList { numeroEmpleado = 2, nombre = "Gabriel Holandes", edad = 30, cargo = "vendedor", fechaContrato = DateTime.Today, cuota = 12, venta = 30 });
        lista.Add(new VentaList { numeroEmpleado = 3, nombre = "Gustavo Fernandez", edad = 41, cargo = "vendedor", fechaContrato = DateTime.Today, cuota = 10.5, venta = 20});
        lista.Add(new VentaList { numeroEmpleado = 4, nombre = "Luis Carrasco", edad = 30, cargo = "vendedor", fechaContrato = DateTime.Today, cuota = 15, venta = 2 });
        return base.OnInitializedAsync();
    }
    private void recuperarVenta(int numEmp)
    {
        navigationManager.NavigateTo("/formlibro/edit/"+numEmp);
    }
    private void eliminarVenta(int numEmp)
    {
        var listaReal = lista.Where(p => p.numeroEmpleado != numEmp).ToList();
        lista = listaReal;
    }
}
